## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*"/>

<%def name="html_header()">
    <header id="header" role="banner">
        ${html_navigation_links()}
        ##${html_site_title()}


        %if search_form:
            <div class="searchform" role="search">
                ${search_form}
            </div>
        %endif
    </header>

    ${template_hooks['page_header']()}
</%def>

<%def name="html_site_title()">
    <h3 id="brand" class="masthead-title">
        <a href="${abs_link(_link("root", None, lang))}" title="${blog_title}" rel="home">
            ${blog_title}
        </a>
    </h3>
</%def>

<%def name="html_navigation_links()">
    <!-- Bootstrap navbar -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-${lang}">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="${_link('root', None, lang)}">${blog_title}</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-${lang}">
        <!-- Left menu -->
        <ul class="nav navbar-nav">
          % for url, text in navigation_links[lang]:
            <li><a href="${url}">${text}</a></li>
          % endfor
        </ul>
        <!-- Right menu -->
        <ul class="nav navbar-nav navbar-right">
        % if len(translations) > 1:
            % if lang == 'pt_br':
                <li><a href="${_link('root', None, 'en')}">Lendo em 🇧🇷 | Translate to 🇺🇸</a></li>
            % elif lang == 'en':
                <li><a href="${_link('root', None, 'pt_br')}">Reading in 🇺🇸 | Traduzir para 🇧🇷</a></li>
            % endif
        % endif
        </ul>
      </div>
    </nav>

    ${template_hooks['menu']()}
    ${template_hooks['menu_alt']()}
</%def>
